<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python chess app</title>
    <script src="https://kit.fontawesome.com/a308ab59d0.js" crossorigin="anonymous"></script>
    <script type="module" src="{{ url_for('static', filename='/js/main.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

    <div id="container"></div>

</body>
</html>